<!DOCTYPE html>
<html lang="en">

<head>
    <%include partials/head.ejs%>
</head>

<body>

    <%include partials/header.ejs%>

        <div id="hero-image">
            <h1 id="hero-title">
                <%= title %>
            </h1>
        </div>

        <div id="posters-wrapper" class="content-padding clearfix">

        </div>
        <% include partials/footer.ejs %>
            <%include partials/scripts.ejs%>

</body>

</html>