* {
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav>li.nav-right {
    float: right !important;
}

#navbarDropdownMenuLink {
    cursor: pointer;
}

#canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}